@font-face {
  font-family: "Montserrat";
  src: url("../public/Montserrat-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: block;
}

html,
body {
  margin: 0;
}
